<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<title>Mizzou at a Crossroads</title>
</head>
<body>
	<nav class="navbar navbar-fixed-top navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="http://www.kbia.org">
	      	<p><span class="glyphicon glyphicon-chevron-left"></span>Return to KBIA</p>
	      </a> <!--navbar-brand-->
	    </div>
	  </div> <!--container-fluid for navbar-->
	</nav>
	<div class="titlecard titlecard-inverse titlecard-mizzou">
		<h1>Mizzou at a Crossroads</h1>
		<div class="subtitle">Chapter One: Past and Present</div>
		<div class="author">
			by Sara Shahriari and Rebecca Smith
		</div>
	</div>
	<div class="container-fluid">
	<div class="row">
		<section id="intro" class="col-md-8 col-md-offset-2">
			<p>In August 2014, Ferguson, Missouri found itself at the center of a national debate about race, after white police officer Darren Wilson shot and killed African American teenager Michael Brown.
			Less than a year and half later, that focus shifted about two hours west. Once again, Missouri took center stage - this time at the state university's flagship campus. </p>
			
			<p>But why Missouri? Missouri is not the biggest, or most populous, or the richest or the poorest state. As an entire state, it's neither the most urban nor the most rural, nor the least or most racially or ethnically diverse. Likewise, the University of Missouri is none of these things. But if you spend much time looking into the history of Missouri, and of the university, you'll find they both were forged in the fires of a nation deeply divided over race. With its geographic position between North and South, East and West, Missouri  stands at a crossroads of policy, migration and culture, and has since before the Civil War.</p>
		</section>
		<section id="early-history">
		<div class="col-md-10 col-md-offset-1">
			<h2>Early History: Two Presidents in Conflict</h2>
		</div>
		<div class="col-md-7 col-md-offset-1">
			<p>"It was kind of the beginnings of the abolition movement in the north and there were some northern congressmen who did not want to see that happen. Sometimes, well for some of them, it was for humanitarian reasons, but for a lot of them it was really for political reasons," historian and UMKC professor Diane Mutti-Burke explained. "They were concerned about the growing power of politicians from the slave states they didn't want to see another slave state enter the union because of that and so they fought quite hard about it."</p>

			<p>To preserve the balance, Congress came to the Missouri Compromise in 1820. Missouri joined the nation as a slave state, Maine as a free state, and the Missouri Compromise determined whether all other new states would be slave or free based on their location on the map.</p>

			<p>Nineteen years later, the University of Missouri was founded, and the first leaders of the school didn't escape the debate over slavery -- far from it. However, the school did take some progressive steps.</p>

			<p>John Lathrop, the very first president of the University of Missouri, was something of an abolitionist.</p>

			<p>"He was teaching the sorts of things that might encourage students to be anti-slavery," Missouri State Historical Society with art collections curator Joan Stack explained, "So a group of the curators kind of pushed by some of the legislators, the conservative element in the legislatures, started going after Lathrop."</p>

			<p>Lathrop moved north to become the first Chancellor at the University of Wisconsin. He was replaced by James Shannon, a radical supporter of slavery - a position Stack says probably contributed to tension with the legislature and Shannon leaving the university.</p>

			<p>It is clear that some early university leaders owned slaves, and that wealth associated with slavery helped finance the school.</p>

			<p>James Sidney Rollins, a lawyer, politician and slaveholder, is often called the father of MU, in part because he helped raise the funds to establish the campus in Columbia. He was in Congress during the Civil War, and had originally voted against the 13th Amendment, which would abolish slavery, but later, Missouri abolished slavery at the state level. A few days after, Rollins gave a rousing speech in support of the 13th Amendment.</p>

			<p>It's a long speech, and in it Rollins wrote things that at times seem to contradict each other. He wrote that he would either support or abolish slavery - whichever maintained national unity, which was his most important goal. He wrote that although slavery was wrong, he believed it ultimately helped people. And he said he was "an anti-slavery man in sentiment, and yet, heretofore a large owner of slaves myself."</p>

			<p>He also wrote that "the institution of African slavery" could not be defended either upon religious or moral grounds, and said, "I am no longer the owner of a slave, and I thank God for it."</p>
		</div>
		<div class="col-md-3">
			<img src="img/presidents-savitor.jpg" style="max-width: 100%">
			<div class="caption">
				<p>An early issue of the University of Missouri's yearbook shows a selection of the school's first presidents.</p>
				<cite>University of Missouri / Photo Courtesy</cite>
			</div>
		</div>
		</section>
		<section id="segregation-at-mizzou">
		<div class="col-md-10 col-md-offset-1">
			<h2>Segregation at MU</h2>
		</div>
		<div class="col-md-6 col-md-offset-3">
			<p>After the civil war, the formerly enslaved people of Missouri were free, but not equal. The state constitution called for segregated education, which meant black students could not attend MU - but the state still had to offer them higher education. So Lincoln University was established in in 1866 in Jefferson City for African American men, but Lincoln didn't offer the same courses as MU.</p>

			<p>"If an African American student aspired to study or take a course of instruction that was not available at Lincoln, the procedure was that they would apply to the University of Missouri, be rejected, and then take their rejection to the legislatures so that money could be appropriated to send them out of the state to Illinois, to Iowa, to Nebraska, to Kansas," Larry Kremer, director of the Missouri State Historical Society, said. "Of course, it was Lloyd Gaines who challenged that system"</p>

			<p>Lloyd Gaines went to Lincoln University, but didn't want to be sent out of state to attend law school. He wanted to go to MU, and he began a lawsuit in 1938 for admission. At that time, there were no black students at the university, and a black man had been lynched by a mob in Columbia just 15 years before.</p>

			<p>The Supreme Court ruled that Missouri had to either admit Gaines to MU or create a separate law school for African Americans. The University chose to create a new law school, and Gaines seemed poised to continue fighting on the grounds that the new school was not equal, but Gaines fight never reached a conclusion. He was last seen in Chicago in 1939. He disappeared, and it's unknown what happened to him. Legal scholars say his supreme court case laid the groundwork for the Brown v. Board of Education ruling in 1954.</p>

			<p>The same year Gaines disappeared, a woman applied to the MU school of journalism.</p>

			<p>"The issue with Lucile Bluford was that she applied for admittance to the Missouri Journalism master's program and they did not know she was black until she showed up on campus to register for classes," explained MU Journalism professor and historian Earnest Perry. "Once they realized that she was black they basically said 'no, we're not going to allow you to register for classes, your admission is rescinded,' and then she took that case, or she and the NAACP, took that case to court."</p>

			<p>This had the same result as Gaines' case: the state created a separate journalism school at Lincoln University rather than let Bluford into MU. While the MU administration seemed immovably opposed to admitting African American students, Perry says the student newspaper took polls of students to get their thoughts on the matter:</p>

			<p>"Students overwhelmingly supported African American students being admitted to the University. The University officials, they acknowledged that the students wanted that but they were not going to change their policy."</p>

			<p>Lucille Bluford's case was never fully decided. But finally, in 1950, the first African American students at MU began classes. That was 66 years ago.</p>
		</div>
		</section>
	</div>
	</div>
</body>
</html>