<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<title>Mizzou at a Crossroads</title>
</head>
<body>
	<nav class="navbar navbar-fixed-top navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="http://www.kbia.org">
	      	<p><span class="glyphicon glyphicon-chevron-left"></span>Return to KBIA</p>
	      </a> <!--navbar-brand-->
	    </div>
	  </div> <!--container-fluid for navbar-->
	</nav>
	<div class="titlecard titlecard-inverse front-card-mizzou">
		<h1>Mizzou at a Crossroads</h1>
		<div class="subtitle"></div>
		<div class="author">
			by the KBIA News Team
		</div>
	</div>
</body>
</html>