<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mizzou at a Crossroads</title>
</head>
<body>
	<nav class="navbar navbar-fixed-top navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="http://www.kbia.org">
	      	<p><span class="glyphicon glyphicon-chevron-left"></span>Return to KBIA</p>
	      </a> <!--navbar-brand-->
	    </div>
	  </div> <!--container-fluid for navbar-->
	</nav>
	<div class="titlecard titlecard-inverse front-card-mizzou">
		<h1>Mizzou at a Crossroads</h1>
		<div class="subtitle"></div>
		<div class="author">
			by the KBIA News Team
		</div>
		<div id="episode-list" class="container-fluid">
			<div id="chapter-1" class="episode-enum">
				<div class="col-md-6 col-md-offset-3">
					<h2><a href="chapter-one-past-and-present.html">Chapter One - Past and Present</a></h2>
					<p class="description">
						The history of racial issues and student demonstrations at MU and a conversation between two black MU student activists separated by nearly 50 years.
					</p>
				</div>
			</div>
			<div id="chapter-2" class="episode-enum">
				<div class="col-md-6 col-md-offset-3">
					<h2>Chapter Two - Hiring a President</h2>
					<p class="description">
						The history of racial issues and student demonstrations at MU and a conversation between two black MU student activists separated by nearly 50 years.
					</p>
				</div>
			</div>
		<div id="chapter-3"class="episode-enum">
				<div class="col-md-6 col-md-offset-3">
					<h2>Chapter Three - Starting the Conversation</h2>
					<p class="description">
						The history of racial issues and student demonstrations at MU and a conversation between two black MU student activists separated by nearly 50 years.
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>