<html>
<head>
	<!-- Facebook Open Graph -->
  	<meta property="og:title" content="Mizzou at a Crossroads" />
  	<meta property="og:type"   content="article" />
  	<meta property="article:author" content="https://www.facebook.com/KBIAnews/" /> 
  	<meta property="og:image" content="http://apps.kbia.org/mizzou-crossroads/img/mizzou-front.jpg" />
  	<meat property="og:description" content="Last November, the University of Missouri was rocked by protests led by black student group Concerned Student 1950. The group of 11 students captured campus attention with its message that university administrators were not doing enough to address racism on campus." />

  	<!-- Twitter and Slack "Card" -->
  	<meta name="author" content="The KBIA News Team" />
  	<meta name="twitter:card" content="summary" />
  	<meta name="twitter:site" content="@kbia" />
  	<meta name="twitter:title" content="Mizzou at a Crossroads" />
  	<meta name="twitter:description" content="Last November, the University of Missouri was rocked by protests led by black student group Concerned Student 1950. The group of 11 students captured campus attention with its message that university administrators were not doing enough to address racism on campus. How did the University of Missouri get to this point? And how might its path forward navigate the complex landscapes of university funding, policies and staffing, student demands and Missouri politics?" />
  	<meta property="twitter:image" content="http://apps.kbia.org/mizzou-crossroads/img/mizzou-front.jpg" />

  	<!--Google Analytics-->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-71696131-1', 'auto');
	ga('send', 'pageview');
	</script>

  	<!--Basic Styling and Viewport-->
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mizzou at a Crossroads</title>
</head>
<body>
	<nav class="navbar navbar-fixed-top navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="http://www.kbia.org">
	      	<p><span class="glyphicon glyphicon-chevron-left"></span>Return to KBIA</p>
	      </a> <!--navbar-brand-->
	    </div>
	  </div> <!--container-fluid for navbar-->
	</nav>
	<div class="titlecard titlecard-inverse front-card-mizzou">
		<h1>Mizzou at a Crossroads</h1>
		<div class="subtitle"></div>
		<div class="author">
			A KBIA Special Report
		</div>
		<div id="episode-list" class="container-fluid">
			<div id="chapter-1" class="episode-enum">
				<div class="col-md-6 col-md-offset-3">
					<h2><a href="chapter-one-past-and-present.html"><span class="glyphicon glyphicon-chevron-right"></span> Chapter One - Past and Present</a></h2>
					<p class="description">
						The history of racial issues and student demonstrations at MU and a conversation between two black MU student activists separated by nearly 50 years.
					</p>
				</div>
			</div>
			<div id="chapter-2" class="episode-enum">
				<div class="col-md-6 col-md-offset-3">
					<h2><a href="chapter-two-hiring-president.html"><span class="glyphicon glyphicon-chevron-right"></span> Chapter Two - Hiring a President</a></h2>
					<p class="description">
						How the intersection of business, funding issues and educational politics put UM System President Tim Wolfe on the chopping block.
					</p>
				</div>
			</div>
		<div id="chapter-3"class="episode-enum">
				<div class="col-md-6 col-md-offset-3">
					<h2><a href="chapter-three-starting-conversation.html"><span class="glyphicon glyphicon-chevron-right"></span> Chapter Three - Starting the Conversation</a></h2>
					<p class="description">
						Where do we go from here?
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>