<p>In the fall of 1950, the University of Missouri accepted its first nine black students, and for a while it seemed the University was making progress in the 50s and 60s. Sports teams were becoming integrated, black students were taking part in more student organizations and black sororities and fraternities starting organizing in the early 60s.  </p>

<p>However, throughout the 1960s, there were still just a couple hundred black students at MU, and racial issues remained a problem on campus. Discriminatory housing policies remained in effect until 1964 for on-campus housing and 1965 for off-campus.</p>

<p>One incident cited by several black students who attended MU in the 60s, was the song Dixie being performed during Mizzou Tigers football games. While the song, which idealizes the slaveholding South, was played some students would wave confederate flags. Then during one game in 1967, black students waved a plain black flag in response, and one student had a gun pulled on him by a Boone County deputy sheriff.</p>

<p>The first black faculty member wouldn’t even be hired until 1969.  </p>

<p>As a response to all of these incidents, a group of black students came together and decided something had to be done. According to a book compiled by the university's black alumni association in 1994, it was 19-year-old-sophomore Howard Taylor who spoke up at a 1968 black fraternity meeting saying "We need a legion of Black Collegians."</p>

<p>Howard attended MU in the 1960s and graduated in 1969. He’s now retired in Jacksonville, Florida, and has much to say about his days at MU and his experiences as the vice-president of the Legion of Black Collegians or LBC.</p>

<p>“Being a black Mizzou student, our interest was how we look at our environment… and what can we do to change it in a peaceful manner.  And that’s what the Legion of Black Collegians about - the peaceful approach, rather than the destructive or the really antagonistic approach,” Howard said.</p>

<p>Howard, along with his fellow Alpha Phi Alpha fraternity brothers, founded the LBC in 1968, but they weren’t officially recognized by the University for several years.</p>

<p>He said he turned on the TV last November and saw Mizzou was making the news again -  for many of the same issues he and other black students were dealing with in the late 1960s. He said the early LBC also presented MU administration with a list of demands of their own in 1969.</p>

<p>Here are some of the changes students in 1969 said needed to happen: </p>

<p>“A lack of representation on the administration. The lack of instructors, professors that were minorities. The lack of coursework that was minority oriented, as well as the lack of accessibility to some of the university facilities without being harassed because we were minorities on campus,” Howard said.</p>

<p>And 46 years later, black student organization Concerned Student 1950 presented MU leaders with their own list of demands, which included some identical demands to 1969.</p>

<p>Concerned Student 1950 was not the first student protest movement since Howard’s days in the LBC. In fact, it was far from it. MU has a long history of student-led protest movements.  Race-related protests continued to happen throughout the 70s and 80s. There was a South African divestment movement in the late 1980s, where MU students built a shanty town on the Francis Quadrangle. The group MU 4 Mike Brown was created in 2014 following the shooting death of Ferguson teenager Michael Brown at the hands of police, and then just last November another student group emerged – this being Concerned Student 1950.</p>

<p>Ernest Perry, an MU Journalism Professor and Historian, says all of these movements are connected.</p>

<p>“What we call the social justice movement today was the civil rights movement in the 1950s 60s and 70s. What was the civil rights movements of the 50s 60s and 70s was what we called race issues or race matters in the 1920s and 1930s,” Perry said. “So the names are different as you move through time, but many of the issues are the same and it all centers around equality.”</p>

<p>And Perry added that while some contemporary students complained that nothing has changed at MU since the 1960s, this isn’t quite true.</p>

<p>“There were changes,” Perry said. “You could see increases in the number of students in color on campus, you had the hiring of some faculty of color, [but] not as many as were demanded.”</p>

<p>Howard said it was disappointing for him to see that Concerned Student 1950 was fighting for many of the same things that he was fighting for back in the 60s.</p>

<p>“It's discouraging to me that it [change] has been non-existent or so slow to change. Or it has changed and regressed in some cases because there was not a focus on it,” Howard said.</p>

<p>But Marshall Allen, one of the original 11 members of Concerned Student 1950 said it’s actually this lack of change at MU that inspires him and others to keep pushing.</p>

<p>“I’m in total agreeance that it is discouraging at times to see that,” Marshall said. “But at the same time it is also fuel for us. To make sure that we understand that we have to keep doing what we're doing if we want to effect substantial change in the long run.”</p>

<p>Marshall said that Concerned Student 1950 came together following a series of racially-charged events on campus last year, and following what he described as a lackluster response to those events by MU’s administration.</p>

<p>He added that Concerned Student 1950 chose to focus on former UM System President Tim Wolfe because he was at the top of an organization that “can remain negligent about the problems of… students.”</p>

<p>“We knew we had to make a head change,” Marshall said, “And we figured that getting him out or making sure that we got him to resign was one of the first steps in making sure that we had change. Because if the change starts at the top than the bottom has to follow.</p>

<p>One historian I spoke with, Sekou Franklin, said the immediacy with which Concerned Student 1950 got Wolfe to resign and MU Chancellor R. Bowen Loftin to step down was different from many protest movements that had come before them.</p>

<p>“What they accomplished was a big deal,” Franklin said. “Because it’s often a case that as a response of the protest, universities would change leadership, but not so quickly. It may take a few years, or the person in power may plan to leave a year earlier.”</p>

<p>Franklin, who wrote the book “After the Rebellion: Black Youth, Social Movement Activism, and the Post-Civil Rights Generation” on the topic of black student activism, said the thing that Concerned Student 1950 did most different was getting the football team involved.</p>

<p>“The young people have a lot of influence and power, and particularly the athletes,” Franklin said. “I can tell you a lot of universities are nervous.”</p>

<p>Howard said he intends to continue to follow the events and student protesters at MU - in hopes that real change occurs in the future.</p>

<p>“They're changing themselves as well as the University for the betterment of those who come,” Howard said. “And I’m glad I participated in some change in the 60s so that Marshall, for whatever it's worth, he's there [at MU]. And when he leaves, he's going to leave it to somebody else, so in another 50 years we won’t be talking about the same thing.” </p>